.red_shadow:hover {
  box-shadow: 0 0 10px 2px var(--energy-red);
}

.regular_shadow {
  box-shadow: 0 0 10px 1px #1f1f1f;
}

/* SCROLLBAR FOR THE USER INPUT */

.scrollbar::-webkit-scrollbar {
  width: 6px;
  transition: all 0.15s ease;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: var(--accent-gray);
  border-radius: 4px;
  margin-block: 2px;
  transition: all 0.15s ease;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--jet-black);
  border-radius: 4px;
  transition: all 0.15s ease;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--energy-red);
  cursor: grab;
}

.scrollbar::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}