.diagonal::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1%;
  width: 100%;
  height: 100%;
  background: var(--jet-black);
  clip-path: polygon(0 0, 100% 0%, 100% -10%, 0% 100%);
  z-index: 1;
}

.shadow_custom_white {
  box-shadow: 0 0 30px 1px #ffffff96;
}

.diversus_lettering {
  font-family: 'Orbitron';
  letter-spacing: 1rem;
}

.get_started_colors {
  color: var(--jet-black);
  background-color: var(--clean-white);
}

.login_button_colors {
  color: var(--clean-white);
  background-color: var(--energy-red);
}

@media (max-width: 1300px) {
  .gym_wrapper {
    opacity: 0.1;
  }
}