.mainContainer {
  background-color: var(--theme);
  height: 80px;
  text-align: center;
  padding-top: 10px;
  color: var(--secTheme);
  position: relative;
}

.header {
  font-weight: 300;
  font-size: 1.2rem;
}

.header > a {
  text-decoration: none;
  color: var(--thiTheme);
  transition: color 0.2s;
}

.header > a:hover {
  color: var(--secTheme);
}

.errorPage {
  padding: 0.1rem 1rem;
  border: none;
  border-radius: 6px;
  font-size: 1.5rem;
  color: var(--theme);
  background-color: var(--secTheme);
  transition:
    box-shadow,
    color 0.15s ease-out;
  font-weight: 300;
  text-decoration: none;
  position: absolute;
  top: 35%;
  right: 2%;
}

.errorPage:hover {
  cursor: pointer;
  box-shadow: 0 0 15px var(--thiTheme);
  color: var(--thiTheme);
}

.errorPage:active {
  opacity: 0.8;
}