.mainContainer {
  background-color: var(--secTheme);
  height: 74.7vh;
  padding-top: 0.5rem;
}

.headerContainer {
  color: var(--theme);
  background-color: var(--secTheme);
  width: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  padding-block: 1rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid var(--theme);
}

.caroselContainer {
  background-color: var(--secTheme);
  padding: 2rem 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowButtons {
  border: none;
  border-radius: 6px;
  background-color: var(--theme);
  box-shadow: 0 0 10px #444444;
  transition: box-shadow 0.2s;
}

.arrowButtons:hover {
  cursor: pointer;
  box-shadow: 0 0 15px var(--thiTheme);
}

.arrowButtons:active {
  opacity: 0.9;
}

.itemsContainer {
  display: flex;
}

.searchMagnifier {
  position: absolute;
  top: 10px;
  right: 10px;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 40%;
  margin: auto;
  position: relative;
}

.searchDropdownContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--secTheme);
  border-radius: 6px;
  padding: 0.5rem;
  overflow: auto;
  top: 100%;
  max-height: 300px;
  width: 100%;
  border: 3px solid var(--thiTheme);
}

.searchDropdownContainer::-webkit-scrollbar-track {
  border-radius: 10px;
}

.searchDropdownContainer::-webkit-scrollbar {
  width: 8px;
}

.searchDropdownContainer::-webkit-scrollbar-track {
  background: var(--secTheme);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.searchDropdownContainer::-webkit-scrollbar-thumb {
  background-color: var(--theme);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.searchDropdownContainer::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

.hidden {
  display: none;
}

.image {
  width: 70px;
  height: 70px;
  object-fit: fill;
  border-radius: 6px;
}

.dropdownCard {
  display: flex;
  padding-inline: 1rem;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
}

.dropdownCard:not(:last-child) {
  border-bottom: 1px solid var(--theme);
  margin-bottom: 1rem;

}

.wrapperDiv {
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.wrapperDiv > button {
  height: 50%;
  border: none;
  background-color: var(--theme);
  border-radius: 6px;
  font-size: 1.2rem;
  padding-inline: 1rem;
  padding-block: 2px;
  color: var(--secTheme);
  font-weight: 300;
  transition: box-shadow 0.15s;
}

.loadingCarousel {
  font-weight: 300;
  margin-inline: 4rem;
}

.wrapperDiv > button:hover {
  cursor: pointer;
  box-shadow: 0 0 15px var(--thiTheme);
}

.wrapperDiv > button:active {
  opacity: 0.8;
}

.wrapperDiv > h1 {
  font-size: 1.2rem;
}

.spanWrapper {
  max-width: 200px;
}

.searchInput {
  border-radius: 6px;
  outline: none;
  border: none;
  font-size: 22px;
  padding: 6px 3rem 6px 1rem;
  width: 100%;
  font-weight: 300;
  background-color: var(--theme);
  color: var(--secTheme);
  box-shadow: 0 0 10px #444444;
  transition: box-shadow 0.2s ease-out;
}

.searchInput:focus-within {
  box-shadow: 0 0 20px var(--thiTheme);
}

.spanContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--theme);
  color: var(--secTheme);
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 6px;
  margin-top: 6px;
  width: 60%;
  padding-block: 6px;
}

.incrementButton,
.decrementButton {
  background-color: transparent;
  border: none;
  color: var(--secTheme);
  transition: color 0.15s;
}

.incrementButton:hover,
.decrementButton:hover {
  color: var(--thiTheme);
  cursor: pointer;
}