:root {
  --theme: #283739;
  --secTheme: #e3f6f5;
  --thiTheme: #a2c11c;
}

.name {
  font-weight: 300;
  font-size: 2rem;
  color: var(--secTheme);
}

.navContainer {
  display: flex;
  background-color: var(--theme);
  justify-content: space-between;
  padding: 1rem 3rem;
}

.itemsCount {
  color: var(--theme);
  font-size: 22px;
  font-weight: 300;
  margin-left: 0.5rem;
}

.firstContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}


.boxCartButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secTheme);
  border-radius: 6px;
  padding: 10px;
  height: 100%;
  border: none;
  transition: box-shadow 0.2s
}

.boxCartButtonContainer:hover {
  cursor: pointer;
  box-shadow: 0 0 15px var(--thiTheme);
}

.boxCartButtonContainer:active {
  box-shadow: 0 0 25px var(--thiTheme);
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}