.legendary-shimmer {
    font-style: bold;
    background: linear-gradient(
        to right, #1E90FF, #8A2BE2, #0A0A0A, #FFD700
    );
    background-size: 200%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shimmer 2s linear infinite;
}

@keyframes shimmer {
    to {
        background-position: 200%
    }
}