/* game font */
* {
  font-family: 'Cormorant Garamond', 'Cinzel', 'Uncial Antiqua', 'Arial';
  box-sizing: border-box;
}

/* chains container */
.chains-img {
  background-image: url('../assets/vertical-chains.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 400px;
  height: 400px;
}

.wooden-sign-bg {
  background-image: url('../assets/wooden-sign.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.victory-wooden-sign-bg {
  background-image: url('../assets/victory-wooden-sign.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.defeat-wooden-sign-bg {
  background-image: url('../assets/defeat-wooden-sign.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


/* chain bounce animations */
@keyframes bounce-in {
  0% {
    transform: translateY(-740px)
  }
  60% {
    transform: translateY(-20px)
  }
  80% {
    transform: translateY(-50px)
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes bounce-out {
  0% {
    transform: translateY(0px)
  }
  100% {
    transform: translateY(-700px)
  }
}

/* font for the game title header */
.fontUncial {
  font-family: 'Uncial Antiqua';
}

.button-shadow {
  box-shadow: inset 0 0 10px 1px #2c2a05;
}

#box-shadow {
  box-shadow: inset 0 0 10px 1px #2c2a05;
}

/* deck hover animation */
#angel-deck-box:hover {
  box-shadow: 0 0 12px 2px #bcb419;
  cursor: pointer;
}

#angel-deck-box,
#angel-deck {
  background: radial-gradient(circle, #e3ea23 50%, #7d7600);
}

#human-deck-box:hover {
  box-shadow: 0 0 12px 2px #0eab10;
  cursor: pointer;
}

#human-deck-box,
#human-deck {
  background: radial-gradient(circle, #17c336 50%, #073620);
}

#vile-deck-box:hover {
  box-shadow: 0 0 12px 2px #c71b1b;
  cursor: pointer;
}

#vile-deck-box,
#vile-deck {
  background: radial-gradient(circle, #fd1a1a 50%, #540303);
}